.Resume {
    font-size: 28px;
    position: absolute;
    width: 112px;
    height: 23px;
    left: 250px;
    top: 38px;

}
.Resume:hover {
    color: red;
    background-color:grey;
    margin-left:-20px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom: 20px;
}


.Home {
    margin-left: 0;
    font-size: 45px;
    position: absolute;
    width: 140px;
    height: 45px;
    left: 45px;
    top: 24px;

}

.Home:hover {
    color: black;
    background-color: white;
    margin-left:-20px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom: 10px;
    
}

.Page2 {
    font-size: 30px;
    position: absolute;
    width: 137px;
    height: 45px;
    left: 1250px;
    top: 24px;

}

.Page2:hover {
    color: black;
    background-color: white;
    margin-left:-20px;
    padding-left:15px;
    padding-right:30px;
    padding-bottom: 20px;


}



Nav {
    display: flex;
    align-items: center;
    min-height: 12vh;
    background: #490c0c;
    color: white;

}

.nav-links {
    width: 50%;
    display: flex;
    align-items: baseline;
    list-style: none;
}